#dashboard-table {
    width: 100%;
    border-collapse: collapse;
  }

  #dashboard-table, #dashboard-table th, #dashboard-table td {
    border: 1px solid rgb(0, 0, 0);
  }
  
  #dashboard-table th, #dashboard-table td {
    padding: 8px;
    text-align: center;
  }
  
  #dashboard-table tr{
    color: #000000;
  }
  
  .dashboard-pagination {
    margin: 20px 0;
    text-align: center;
  }
  
  .dashboard-pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  
  .dashboard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #dashboard-table th {
    background-color: rgba(187, 187, 187, 0.5);
  }

  #prevButton {
    background-color: #023047;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid #023047;
    padding: 10px 20px;
}

#prevButton:hover {
    background-color: #8ECAE6;
    border: 2px solid #8ECAE6;
}

#nextButton {
    background-color: #023047;
    color: rgb(255, 255, 255);
    border: 2px solid #023047;
    border-radius: 5px;
    padding: 10px 20px;
}

#nextButton:hover {
    background-color: #8ECAE6;
    border: 2px solid #8ECAE6;
}
