/* Navigation Bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.5) ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;

}

header h1 {
  font-size: 36px;
  margin: 0;
  color: #FFEF00;
}

nav a:hover {
  color: #FFEF00;
  background-color: rgba(255, 255, 255, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

/* Styles on scroll */
.navbar-scrolled {
  background-color: #FFEF00;
}

.navbar-scrolled h1 {
  color: #000000;
}

.navbar-scrolled a {
  color: #000000;
}
